*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;/*Allows us to include padding
    and border in an elements total width and height*/
    /*Changes the layout inside the box*/
    

}


body{
    font-family: 'Montserrat', sans-serif;
    background-color:   #F6F6EB ;
    width: 100%;
    height: 100%;

    
}



nav{
  
   
    display: inline-block;
    background-color: #F6F6EB;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    z-index: 2;
    
   
}


ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
   
}


li{
    list-style-type: none; /*removes bullet points on nav bar */
    margin: .5vw 2vw .5vw 0;
    font-size: 2vh;
    background-image: linear-gradient(to left, #60d394, #d36060, #c060d3, #d3d160, #6860d3, #60b2d3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    
}

a{
    text-decoration: none; /*Removes underline for nav bar*/
    color:black;
    padding: 1vw;
    
}
a:hover{
   
   
    
}


.infoV{
    position: absolute;
    bottom: 85%;
    
    visibility: hidden;
    background-image: linear-gradient(to left, #60b2d3 ,  #c060d3, #d36060, #6860d3,#60d394 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

@keyframes slide{
    
    
    0%{
        
        bottom: -50%;
    }
    
   
}
.app{
   
    height: 100vh; /*Take up entire height of page*/
    display: flex; /*Flex container(app) expands to fill available free
    space or shrinks them to prevent overflow
    --> It also takes up the entire width/height depending
    on the flex-direction*/
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
header {
    position: relative;
}

@keyframes move{
    0%{
        bottom: 0%;
    }
    50%{
        bottom: 25%;
    }
    
}

header h1{
    margin: 50px 0px 30px 0px; /* top right bottom left*/
    text-align: center;
    font-size: 40px;
    
    background-image: linear-gradient(to left, #60d394, #d36060, #c060d3, #d3d160, #6860d3, #60b2d3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 0;
}



#info{
    font-size: 20px;
    text-align: center;
    background-image: linear-gradient(to left, #60d394, #d36060, #c060d3, #d3d160, #6860d3, #60b2d3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
#me{
    font-size: 3%;
    text-align: center;
    margin-top: 5%;
    
}

.pads{
    background:lightblue;
    width: 100%;
    display: flex;
    
}
.pads > div{
 height: 100px;
 width: 100px;
 flex: 1; /*sets how a flex item will grow or shrink to fit the space available*/
}

.pad1{
    background: #60d394;
}
.pad2{
    background: #d36060;
}
.pad3{
    background: #c060d3;
}
.pad4{
    background: #d3d160;
}
.pad5{
    background:#6860d3 ;
}
.pad6{
    background: #60b2d3;
}


.visual > div {
    
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 0%;
    left: 20%;
    bottom: 0%;
    z-index: -1;
}

@keyframes jumpGreen{ /*controls intermediate steps in CSS animation seqwuence by
    defining styles for keyframes*/
    
0%{
    bottom: 0%;
    left: -5%;
}

50%{
    bottom: 50%;
    left: 50%;
}
100%{
    bottom: 65%;
    left: 100%;
}

}

@keyframes jumpRed{ /*controls intermediate steps in CSS animation seqwuence by
    defining styles for keyframes*/
    
0%{
    bottom: 0%;
    left: 15%;
}

50%{
    bottom: 50%;
    left: 50%;
}
100%{
    bottom: 80%;
    left: 100%;
}

}


@keyframes jumpPurple{ /*controls intermediate steps in CSS animation seqwuence by
    defining styles for keyframes*/
    
0%{
    bottom: 0%;
    left: 35%;
}

50%{
    bottom: 50%;
    left: 50%;
}
100%{
    bottom: 95%;
    left: 100%;
}

}


@keyframes jumpYellow{ /*controls intermediate steps in CSS animation seqwuence by
    defining styles for keyframes*/
    
0%{
    left: 55%;
    bottom: 0%;
}

50%{
    bottom: 50%;
    left: 50%;
}
100%{
    bottom: 65%;
    left: -10%;
}

}


@keyframes jumpViolet{ /*controls intermediate steps in CSS animation seqwuence by
    defining styles for keyframes*/
    
0%{
    bottom: 0%;
    left: 75%;
}

50%{
    bottom: 50%;
    left: 50%;
}
100%{
    bottom: 80%;
    left: -10%;
}

}


@keyframes jumpLightBlue{ /*controls intermediate steps in CSS animation seqwuence by
    defining styles for keyframes*/
    
0%{
    bottom: 0%;
    left: 95%;
}

50%{
    bottom: 50%;
    left: 50%;
}
100%{
    bottom: 95%;
    left:-10%;
}

}
